{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main>
  <section>
    <div class='form'>
      <h1 class='form__title'>Створити користувача</h1>
      <form method='POST' action='/user-create'>
        <div class='form__content'>
          <div class='form__field'>
            <lable for='email' class='form_lable'>Email
              адреса:</lable>
            <input
              type='email'
              name='email'
              class='form__input'
            />
          </div>

          <div class='form__field'>
            <lable
              for='login'
              class='form_lable'
            >Логін:</lable>
            <input
              type='login'
              name='login'
              class='form__input'
            />
          </div>

          <div class='form__field'>
            <lable
              for='password'
              class='form_lable'
            >Пароль:</lable>
            <input
              type='password'
              name='password'
              class='form__input'
            />
          </div>

          <button class='form__button'>Створити</button>
        </div>
      </form>
    </div>
  </section>

  <section>
    <div class='form'>
      <h1 class='form__title'>Список користувачів</h1>
      <div class='user-list'>
        {{#with data.users}}
          {{#if isEmpty}}
            <mark>Пустий</mark>
          {{else}}
            <ul>
              {{#each list}}
                <li>
                  {{email}}
                  |
                  {{login}}
                  ||
                  {{id}}
                  <a
                    href='/user-delete?id={{id}}'
                  >(Видалити)</a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </section>

  <section>
    <div class='form'>
      <h1 class='form__title'>Оновити дані користувача</h1>
      <form method='POST' action='/user-update'>
        <div class='form__content'>

          <div class='form__field'>
            <lable
              for='login'
              class='form_lable'
            >ID:</lable>
            <input
              type='login'
              name='id'
              class='form__input'
            />
          </div>

          <div class='form__field'>
            <lable for='email' class='form_lable'>newEmail
              адреса:</lable>
            <input
              type='email'
              name='email'
              class='form__input'
            />
          </div>

          <div class='form__field'>
            <lable
              for='password'
              class='form_lable'
            >Пароль:</lable>
            <input
              type='password'
              name='password'
              class='form__input'
            />
          </div>

          <button class='form__button'>Оновити</button>
        </div>
      </form>
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}